@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 1030px) {
  .container {
    max-width: 95%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    max-width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 95%;
  }
}

body {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  background-color: #f6f6fe;
}

.bg-image {
  position: absolute;
  width: 20%;
}

.bg-image.bg-top {
  top: 0;
  right: 0;
}

.bg-image.bg-bottom {
  bottom: 0;
  left: 0;
}

header {
  padding: 40px 0;
  text-align: center;
  color: #494c5f;
}

header h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .options span {
  font-size: 14px;
}

header .options .toggle {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  padding: 5px;
  border-radius: 50px;
  position: relative;
  width: 50px;
  margin: 0 20px;
}

header .options .toggle .btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .options .toggle .btn.move-right {
  margin-left: 20px;
}

main {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

main .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  main .container {
    display: block;
  }
}

main .card {
  border-radius: 10px;
  padding: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  color: #494c5f;
  -webkit-box-shadow: 2px 2px 16px rgba(33, 43, 67, 0.153);
          box-shadow: 2px 2px 16px rgba(33, 43, 67, 0.153);
}

main .card.professional {
  padding: 60px 30px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  color: #f6f6fe;
}

main .card.professional a {
  background: #f6f6fe;
  border: 1px solid #f6f6fe;
  color: #696fdd;
}

main .card.professional a:hover {
  border: 1px solid #f6f6fe;
  color: #f6f6fe;
}

@media only screen and (max-width: 750px) {
  main .card.professional {
    padding: 30px 60px;
  }
}

@media only screen and (max-width: 550px) {
  main .card.professional {
    padding: 30px;
  }
}

main .card h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

main .card .price {
  font-size: 50px;
  display: none;
}

main .card .price.show {
  display: inline-block;
}

@media only screen and (max-width: 880px) {
  main .card .price {
    font-size: 30px;
  }
}

@media only screen and (max-width: 550px) {
  main .card .price {
    font-size: 40px;
  }
}

main .card a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(#a3a8f0, #696fdd);
  color: #f6f6fe;
  border: 1px solid #f6f6fe;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main .card a:hover {
  background: transparent;
  color: #696fdd;
  border: 1px solid #696fdd;
}

@media only screen and (max-width: 880px) {
  main .card {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 750px) {
  main .card {
    padding: 30px 60px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  main .card {
    padding: 30px;
  }
}

main ul {
  list-style: none;
  margin: 30px 0;
  border-top: 1px solid #a3a8f0;
}

main ul li {
  font-size: 14px;
  padding: 15px 0;
  border-bottom: 1px solid #a3a8f0;
}
/*# sourceMappingURL=style.css.map */